.company-directory {
    padding: 20px;
    background-color: #f1f4fe;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header h1 {
    font-size: 24px;
    color: #333;
}

.add-button {
    padding: 10px 20px;
    background-color:rgb(93, 114, 168);
    color: #ffffff;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 10px;
}

.add-button:hover {
    background-color: #0056b3;
}

.company-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.company-card {
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    cursor: pointer;
}

.company-card:hover {
    transform: scale(1.01);
}

.company-card h3 {
    margin: 0;
    font-size: 18px;
    color: #333;
}

.company-card p {
    font-size: 14px;
    color: #666;
    margin-top: 10px;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.cdmodal {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.modal h2 {
    margin: 0 0 20px 0;
    font-size: 20px;
    color: #333;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.modal-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.close-button {
    padding: 10px 20px;
    background-color: #ccc;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

.submit-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #0056b3;
}
